version: '3.1'

services:

  wordpress:
    build: ./wordpress
    restart: always
    ports:
      - 80:80
      - 443:443
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: "{{ db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ db_pass }}"
      WORDPRESS_DB_NAME: wordpressdb
    volumes:
      - wordpress:/var/www/html # named volume for site content persistence
      - ./wordpress/uploads:/var/www/html/wp-content/uploads # custom uploads
      - ./certbot/certs:/etc/ssl/certs:ro # HTTPS cert folder
      - ./certbot/www:/var/www/certbot:ro # Certbot specific site folder (to retrieve certificate)
      - ./wordpress/default-ssl.conf:/etc/apache2/sites-available/default-ssl.conf:ro # Apache config file for HTTPS
      - ./wordpress/alias.conf:/etc/apache2/mods-enabled/alias.conf:ro # Apache config file for Certbot specific actions
      - ./wordpress/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro # Startup script to enable HTTPS

  mariadb:
    build: ./mariadb
    restart: always
    environment:
      MARIADB_DATABASE: wordpressdb
      MARIADB_USER: "{{ db_user }}"
      MARIADB_PASSWORD: "{{ db_pass }}"
      MARIADB_ROOT_PASSWORD: "{{ db_root_pass }}"
    volumes:
      - mariadb:/var/lib/mysql # named volume for DB persistence
  
  phpmyadmin:
    build: ./phpmyadmin
    links:
      - "mariadb:db"
    restart: always
    ports:
      - 8080:443
    volumes:
      - ./certbot/certs:/etc/ssl/certs:ro # HTTPS cert folder
      - ./phpmyadmin/docker-entrypoint.sh:/docker-entrypoint.sh:ro # Startup script to enable HTTPS
      - ./phpmyadmin/default-ssl.conf:/etc/apache2/sites-available/default-ssl.conf:ro # Apache config file for HTTPS

  certbot:
    build: ./certbot
    volumes:
      - ./certbot/certs:/etc/letsencrypt/:rw # HTTPS cert folder (populated by certbot)
      - ./certbot/www:/var/www/certbot:rw # Certbot specific site folder (necessary to retrieve certificate)
    # The following command tries to fetch a new certificate for the domain, and put it in the HTTPS cert folder
    command: "certonly --non-interactive --webroot --webroot-path=/var/www/certbot -d {{ domain_name }} --agree-tos -m {{ certbot_mail }}" #--dry-run --force-renewal"

volumes:
  wordpress:
  mariadb: