version: '3.1'

services:

  wordpress:
    build: ./wordpress
    restart: always
    ports:
      - 80:80
      - 443:443
    environment:
      WORDPRESS_DB_HOST: mariadb
      WORDPRESS_DB_USER: "{{ db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ db_pass }}"
      WORDPRESS_DB_NAME: wordpressdb
    volumes:
      - wordpress:/var/www/html
      - ./wordpress/uploads:/var/www/html/wp-content/uploads
      - ./certbot/certs:/etc/ssl/certs:ro
      - ./certbot/www:/var/www/certbot:ro
      #- ./wordpress/default-ssl.conf:/etc/apache2/sites-available/default-ssl.conf:ro
      #- ./wordpress/alias.conf:/etc/apache2/mods-enabled/alias.conf:ro
      #- ./wordpress/docker-entrypoint.sh:/usr/local/bin/docker-entrypoint.sh:ro

  mariadb:
    build: ./mariadb
    restart: always
    environment:
      MARIADB_DATABASE: wordpressdb
      MARIADB_USER: "{{ db_user }}"
      MARIADB_PASSWORD: "{{ db_pass }}"
      MARIADB_ROOT_PASSWORD: '1'
    volumes:
      - mariadb:/var/lib/mysql
      #- ./mysql:/var/lib/mysql
  
  phpmyadmin:
    build: ./phpmyadmin
    links:
      - "mariadb:db"
    restart: always
    ports:
      - 8080:443
    volumes:
      - ./certbot/certs:/etc/ssl/certs:ro
      #- ./phpmyadmin/docker-entrypoint.sh:/docker-entrypoint.sh:ro
      #- ./phpmyadmin/default-ssl.conf:/etc/apache2/sites-available/default-ssl.conf:ro

  certbot:
    build: ./certbot
    volumes:
      - ./certbot/certs:/etc/letsencrypt/:rw
      - ./certbot/www:/var/www/certbot:rw
    command: "certonly --non-interactive --webroot --webroot-path=/var/www/certbot -d {{ domain_name }} --agree-tos -m julientourne28@gmail.com" #--dry-run --force-renewal"

volumes:
  wordpress:
  mariadb:
  phpmyadmin: