version: '3.1'

services:

  wordpress:
    build: ./wordpress
    restart: always
    ports:
      - 80:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: "{{ db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ db_pass }}"
      WORDPRESS_DB_NAME: wordpressdb
    volumes:
      #- wordpress:/var/www/html
      - ./html:/var/www/html

  db:
    build: ./mariadb
    restart: always
    environment:
      MARIADB_DATABASE: wordpressdb
      MARIADB_USER: "{{ db_user }}"
      MARIADB_PASSWORD: "{{ db_pass }}"
      MARIADB_ROOT_PASSWORD: '1'
    volumes:
      #- db:/var/lib/mysql
      - ./mysql:/var/lib/mysql
  
  phpmyadmin:
    build: ./phpmyadmin
    restart: always
    ports:
      - 8080:80

volumes:
  wordpress:
  db:
  phpmyadmin: